.letzteErfassenReihe {
  display: flex;
  justify-content: end;
}

.erfassenBtn {
  background-color: green;
  align-items: end;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.zurückBtn {
  background-color: blue;
}
