/*-----BUTTON-----*/
/*Button Standart*/
.standartButtonClass {
  padding: 0.5rem 2.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 25px;
  border-color: transparent;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.standartButtonClass:hover {
  box-shadow: 0 0 4px black;
}
/*Button LogIn*/
.logInBtn {
  background-color: lightgreen;
}
.logInBtn:hover {
  background-color: rgb(0, 255, 0);
}
/*Button Registrieren*/
.registrierenBtn {
  background-color: lightskyblue;
}
.registrierenBtn:hover {
  background-color: rgba(0, 0, 255);
}
/*Button Start und LogOut*/
.startBtn {
  background-color: lightcoral;
}
.startBtn:hover {
  background-color: rgba(255, 0, 0);
}
/*Button Hinzufügen*/
.hinzufügenBtn {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: transparent;
  padding: 0;
  transition: transform 2s;
}
.hinzufügenBtn:hover {
  box-shadow: none;
  transform: rotate(360deg);
}
.hinzufügenBtn img {
  height: 100%;
  width: auto;
}
/*Button Löschen*/
.löschenBtn {
  height: 100%;
  width: 100%;
  border-radius: 0 25px 25px 0;
  border: none;
  color: black;
}
.ausgabe button {
  background-color: transparent;
}
/*Button Sortieren*/
.SortBtn {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
}
.SortBtn > h5 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
/*-----Header-----*/
.header-div {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.logo img {
  height: 6rem;
  width: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.logout {
  display: flex;
  justify-content: center;
}
.username {
  display: flex;
  justify-content: center;
}
/*-----Überschriften-----*/
.standartTitelClass {
  text-align: center;
}
/*-----Input-----*/
.standartInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.standartInputClass {
  background-color: hsla(0, 0%, 90%, 0.3);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.standartInputClass::placeholder {
  color: black;
}
.Titel input {
  border: 2px solid black;
  border-radius: 0;
  margin: 0;
  border-right: 0;
  font-size: 22px;
  padding: 10px 20px;
  height: 18px;
}
.Titel label {
  width: 40px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px 0 0 25px;
  margin: 0;
  border-right: 0;
}
.Datum input {
  border: 2px solid black;
  border-radius: 0 25px 25px 0;
  margin: 0;
  font-size: 22px;
  padding: 10px 20px;
  height: 18px;
  border-right: 0;
}
.Datum label {
  width: 40px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 0;
  margin: 0;
  border-right: 0;
}
.Betrag input {
  border: 2px solid black;
  border-radius: 0;
  margin: 0;
  font-size: 22px;
  padding: 10px 20px;
  height: 18px;
  border-right: 0;
}
.Betrag label {
  width: 40px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px 0 0 25px;
  margin: 0;
  border-right: 0;
}
/*-----RadioInput-----*/
/*Allgemein*/
.RadioInput input[type="radio"] {
  display: none;
}
.RadioInput label {
  cursor: pointer;
  color: black;
  display: inline-block;
}
/*Erfassen*/
.eintragRadio label {
  padding: 10px 34px;
  transition: background-color 0.3s, color 0.3s;
  width: 80px;
}
.eintragEinnahme label {
  border: 2px solid black;
  background-color: lightgreen;
}
.eintragAusgabe label {
  border: 2px solid black;
  background-color: lightcoral;
  border-radius: 0 25px 25px 0;
  border-left: 0;
}
.eintragEinnahme input[type="radio"]:checked + label {
  background-color: green;
}
.eintragAusgabe input[type="radio"]:checked + label {
  background-color: red;
}
.eintragEinnahme label:hover {
  background-color: green;
}
.eintragAusgabe label:hover {
  background-color: red;
}
/*Ausgabe*/
.filterRadio label {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 10px;
  font-size: 1.2rem;
}
.filterRadioEinnahmen {
  border: 2px solid black;
  border-radius: 0 25px 0 0;
  background-color: lightgreen;
}
.filterRadioEinnahmen:hover {
  background-color: rgb(0, 255, 0);
}
.filterRadioAusgaben {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 0 0 25px 0;
  background-color: lightcoral;
}
.filterRadioAusgaben:hover {
  background-color: rgb(255, 0, 0);
}
/*-----Bilanz-----*/
.bilanzZeile {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}
.ausgabenZahl {
  color: red;
  padding-bottom: 1px;
  box-shadow: inset 0 -2px 0 0 black;
}
.bilanzZahl {
  border-bottom: 2px solid black;
  padding-bottom: 1px;
}
.bilanzZahl::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
}
.red {
  color: red;
}
/*-----KurzBericht-----*/
.Ausgabeüberschrift h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.betragSpalteKlein {
  border: 2px solid black;

  padding: 0 10px;
  text-align: center;
}
