.standartButtonClass {
  border-radius: 10px;
  border-color: transparent;
  background-color: lightgray;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.standartButtonClass:hover {
  box-shadow: 0 0 4px black;
}

.ausgabe button {
  background-color: transparent;
}
