.header-div {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo img {
  height: 6rem;
  width: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.logoutBtn button {
  background-color: red;
}
